

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--Home Page-->

<div class="content">

    <section class="main" style="width:100% ;height:500px">
        <article class="name2 home-pic">
            <img src="~/images/1.jpg" style="width:70%">
            <div class="text-box">
                <h3>IT Invest Varna</h3>
            </div>
            <div class="text-box2">
                <p>
                    Welcome to our site ,Varna is full of potential .
                    Intelligent,clever and young people ,looking for opportunities to develope thier skills.
                    Log in and contribute ,Invest,be part of the evolution...
                </p>
            </div>
        </article>

    </section>
   <section class="half-main">
        <article class="name2">
            <img src="~/images/3.jpg" style="width:80%;height:40%">
            <h3 style="width:100%">News</h3>
            <p>
                IT News delivers today's top technology stories and breaking IT news.
                Whats new in the world of IT..explore with us...
            </p>
        </article>

    </section>
   <section class="half-main">
        <article class="name2">
            <img src="~/images/5.jpg" style="width:80%;height:40%">
            <h3 style="width:100%">Universities</h3>
            <p>
                Varna is a major economic, cultural and administrative center and one of the Bulgarian cities with the most dynamic development. It is one of the main centers of science and culture in Bulgaria...
            </p>
        </article>

    </section>
   <section class="half-main">
        <article class="name2">
            <img src="~/images/10.jpg" style="width:80%;height:40%">
            <h3 style="width:100%">Varna-International IT Outsource Capital</h3>
            <p>
                In the last ten years, the number of companies working in the field of outsourcing and the IT industry in Varna has grown on average by one in every twelve months...
            </p>
        </article>

    </section>

   <section class="half-main">
        <article class="name2">
            <img src="~/images/12.jpg" style="width:80%;height:40%">
            <h3 style="width:100%">How to use Google Drive for collaboration</h3>
            <p>
                Many people think of Google Drive as a cloud storage and sync service, and it is that — but it also encompasses a suite of online office apps that are comparable with Microsoft Office...
            </p>
        </article>

    </section>
</div>
